﻿

@font-face {
    font-family: "Cheddar Jack";
    src: url("Cheddar_Jack.eot?") format("eot"), 
	    url("Cheddar_Jack.woff") format("woff"), 
	    url("Cheddar_Jack.ttf") format("truetype"), 
	    url("Cheddar_Jack.svg#CheddarJack") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Fun in the Jungle";
    src: url("Fun_in_the_Jungle.eot?") format("eot"), url("Fun_in_the_Jungle.woff") format("woff"), url("Fun_in_the_Jungle.ttf") format("truetype"), url("Fun_in_the_Jungle.svg#FunintheJungle") format("svg");
    font-weight: normal;
    font-style: normal;
}
